.form-style {
  background-color: var(--silver);
  padding: 5rem 3rem 2.5rem;
  .react-datepicker {
    font-family: "Raleway", sans-serif;
    background-color: white;
    color: black;
    border-radius: 0;
  }
  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker__current-month {
    font-size: 1.2rem;
  }
  .react-datepicker__header {
    font-size: 1rem;
    background-color: var(--silver);
    border-bottom: 1px solid #aeaeae;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: black;
    color: white;
    border-radius: 0;
    &:hover {
      background-color: rgb(65, 65, 65);
      color: white;
      border-radius: 0;
    }
  }
  .react-datepicker__day {
    font-size: 1rem;
  }
  .react-datepicker-ignore-onclickoutside,
  textarea {
    outline: none;
  }
  .react-datepicker__navigation-icon {
    top: 9px;
    font-size: 1.25rem;
  }
  .form-heading {
    margin-bottom: 1.5rem;
  }
  .form-label,
  .react-datepicker-wrapper {
    width: 100%;
  }
  .form-label,
  .MuiFormControlLabel-label {
    font-size: 1.2rem;
  }
  .error-text,
  .show-password {
    margin-top: 0.188rem;
    font-size: 0.8rem;
    color: rgb(180, 0, 0);
  }
  .show-password {
    color: black;
    cursor: pointer;
    text-align: right;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    background-color: transparent;
    border: 1px solid black;
    padding: 0.938rem 0.75rem 0.938rem;
    width: 100%;
    border-radius: 0;
    font-size: 1rem;
    &:focus {
      box-shadow: none;
      background-color: transparent;
      border: 1px solid black;
    }
  }
  .btn {
    padding: 0.625rem 0;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 12.5rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    border: 1px solid black;
    text-transform: uppercase;
    border-radius: 0;
    transition: ease-in-out 0.3s;
    &:hover {
      background-color: transparent;
      color: black;
      border: 1px solid black;
    }
    &:active {
      background-color: rgb(121, 121, 121);
      color: white;
      box-shadow: none;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .horizontal-center-margin {
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
  .form-style {
    padding: 5rem 2.5rem 2.5rem;
    .btn {
      font-size: 1.33rem;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
  .form-style {
    padding: 5rem 2rem 2.5rem;
    .btn {
      width: 12rem;
      font-size: 1.26rem;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
  .form-style {
    padding: 3rem 2rem 2.5rem;
    .btn {
      width: 10rem;
      font-size: 1.19rem;
    }
    .input-form-group {
      width: 50%;
    }
    .checkbox-form-group {
      width: 70%;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
  .form-style {
    .btn {
      width: 9.5rem;
      font-size: 1.12rem;
    }
    .input-form-group,
    .checkbox-form-group {
      width: 100%;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
  .form-style {
    .btn {
      font-size: 1.05rem;
    }
  }
}
