:root {
  --silver: #f9f9f9;
}

.no-textdecoration {
  text-decoration: none !important;
}

.fit-content {
  width: fit-content !important;
}

a {
  text-decoration: none;
}

.center-relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-relative-fit-content {
  width: fit-content;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.horizontal-center-relative {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-center-relative {
  position: relative;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center-margin {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.unhide-991 {
  display: none !important;
}

.fit-content {
  width: fit-content;
}

.line-through {
  text-decoration: line-through !important;
}

.p-0 {
  padding: 0;
}

.unhide-768 {
    display: none !important;
}

.ml-auto {
  margin-left: auto !important;
}

.global-mt-1 {
  margin-top: 8.125rem;
}

.global-mt-2 {
  margin-top: 3.75rem;
}

.global-mt-3 {
  margin-top: 1.25rem;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-global-top-02 {
    margin-top: 0.2rem;
}
.margin-global-top-06 {
    margin-top: 0.6rem;
}

.margin-global-top-1 {
    margin-top: 1rem;
}

.margin-global-top-2 {
    margin-top: 2rem;
}

.margin-global-top-3 {
    margin-top: 3rem;
}

.margin-global-top-4 {
    margin-top: 4rem;
}

.margin-global-top-5 {
    margin-top: 5rem;
}

.margin-global-top-6 {
    margin-top: 6rem;
}

.margin-global-top-7 {
    margin-top: 7rem;
}

.margin-global-top-8 {
    margin-top: 8rem;
}

.margin-global-top-9 {
    margin-top: 9rem;
}

.margin-global-top-10 {
    margin-top: 10rem;
}

.margin-global-top-11 {
    margin-top: 11rem;
}

.margin-global-top-12 {
    margin-top: 12rem;
}

.margin-global-top-13 {
    margin-top: 13rem;
}

.margin-global-top-14 {
    margin-top: 14rem;
}

.margin-global-top-15 {
    margin-top: 15rem;
}

.padding-left-0-5 {
    padding-left: 0.5rem;
}
.margin-global-left-1 {
    margin-left: 1rem;
}
.margin-global-left-2 {
    margin-left: 2rem;
}
.margin-global-left-3 {
    margin-left: 3rem;
}

.transition {
  position: relative;
}

.page {
  position: absolute;
  background-color: white;
  width: 100%;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
  .unhide-991 {
    display: block !important;
  }
  .hide-991 {
    display: none;
  }
  .center-relative-992 {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .global-mt-1 {
    margin-top: 3.125rem;
  }
  
  .global-mt-2 {
    margin-top: 1.44rem;
  }
  
  .global-mt-3 {
    margin-top: 0.48rem;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
  .unhide-768 {
      display: block !important;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}
