.product-list-back {
    position: relative;
    z-index: 0;
    .product-list {
        background-color: var(--silver);
        padding: 3.125rem 3.75rem !important;
        height: 50rem;
        overflow-y: scroll;
        .product-row {
            background-color: white;
            padding-top: 1.25rem;
            margin-bottom: 3.125rem;
        }
        .add-remove-icons {
            width: fit-content;
            margin-top: 1rem;
            .cart-icon {
                cursor: pointer;
                border: 1px solid black;
            }
        }
        img {
            width: 100%;
            padding: 0 0 1.875rem 1.25rem;
        }
        input[type="text"] {
            position: relative;
            background-color: transparent;
            border: 1px solid black;
            padding: 0.938rem 0.75rem 0.938rem;
            width: 100%;
            border-radius: 0;
            text-align: center;
            font-size: 1.5rem;
            &:focus {
                box-shadow: none;
                background-color: transparent;
                border: 1px solid black;
                outline: none;
            }
        }
    }
}
.display-992 {
    display: none;
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
    .product-list-back {
        .product-list {
            padding: 3.125rem 2.4rem !important;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
    .product-list-back {
        .product-list {
            padding: 3.125rem 1.75rem !important;
            img {
                padding: 0 0 1.875rem 0.25rem;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .product-list-back {
        .product-list {
            padding: 3.125rem 3.75rem !important;
            img {
                position: relative;
                padding: 0;
                width: 20rem;
                left: 50%;
                transform: translateX(-50%);
            }
            input[type="text"] {
                width: 5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .product-row {
            padding: 0 2rem;
        }
    }
    .display-992 {
        display: block;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .product-list-back {
        .product-list {
            img {
                width: 17rem;
            }
        }
    }
}