.small-banner {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.9em;
    background-color: black;
}