.para-text {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    a {
        color: black;
        font-weight: 600;
    }
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.text-capatalize {
    text-transform: capitalize;
}

.bold {
    font-weight: bolder;
}