.web-navbar {
    position: relative;
    img {
        width: 350px;
    }
    .nav-spacing {
        margin-left: 50px;
        .nav-link {
            text-transform: uppercase;
            color: black;
            font-weight: 400;
            font-size: 1.5rem;
        }
        .ml-auto {
            width: fit-content;
            a {
                color: black !important;
                margin-left: 20px;
            }
        }
    }
}